*{
    padding : 0 ; 
    margin : 0 ; 
    box-sizing : border-box ; 
}

body{
    width : 100% ; 
    height : 100% ; 
    background-color: #171831 ;
    color : white ; 
}

.container_type-1{
    width : 100% ; 
    height : 100vh ; 
}

.ov_h{
    overflow : hidden ; 
}

.background_image{
    width : 100% ; 
    height : 100% ; 
    z-index : -1 ; 
}

.background_image img{
    width : 100% ; 
    height : 100% ; 
    background-size: cover ;
    transition : .3s linear ; 
}

.container{
    position : relative ; 
}

.container_content{
    width : 100% ; 
    height : 100% ; 
    padding : 3rem ; 
    font-size : 2rem; 
    z-index : 100 ; 
    display : flex ; 
    gap : 20px ; 
    position : absolute ; 
    align-items: center ;
    justify-content: center  ;
    flex-direction: column ;
}


@media screen and (max-width : 768px) {
    .container{
        width : 100% ; 
        height : 80vw ; 
        overflow : hidden ; 
    }

    .container_content{
        padding : 1rem ; 
    }

    .container_content h1{
        font-size : 3rem ;
    }

    .container_content p{
        font-size : 2rem ; 
        text-align: center ;
    }
}
@media screen and (max-width : 500px) {
    .container{
        width : 100% ; 
        height : 100vw ; 
        overflow : hidden ; 
    }

    .container_content{
        padding : 1rem ; 
    }

    .container_content h1{
        font-size : 3rem ;
    }

    .container_content p{
        font-size : 1.5rem ; 
        text-align: center ;
    }
}
